.services {
    width: 100%;
}

.services__title {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.item__icon {
    font-size: 76px;
    padding: 20px;
    margin: 15px;
    background-color: crimson;
    color: rgb(248, 245, 238);
    border-radius: 50%;
}

.title__items {
    width: 20%;
    font-size: 24px;
}

.services__price {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 28px;
}

.price__item {
    border-radius: 40px;
    padding: 25px;
    width: 25%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.price__highlight {
    font-size: 45px;
    color: crimson;
}

@media screen and (max-width: 1024px) {
    .services__title {
        flex-wrap: wrap;
    }

    .services__price {
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }

    .price__item {
        width: 40%;
        margin-top: 20px;
    }

    .item__icon {
        font-size: 50px;
    }

    .price__highlight {
        font-size: 52px;
    }
}

@media screen and (max-width: 768px) {
    .title__items {
        width: 40%;
        margin-top: 25px;
    }

    .price__item {
        width: 60%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 425px) {
    .title__items {
        width: 90%;
    }

    .price__item {
        width: 80%;
    }
}
