.about {
    width: 100%;
}

.about__main_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
}

.about__title {
    font-size: 24px;
    padding: 20px;
    width: 60%;
}

.about__subtitle {
    font-size: 20px;
    padding: 20px;
}

.about__photo {
    width: 25%;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.highlight_text {
    color: crimson;
}

.about__advantages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 28px;
}

.advantages__item {
    border-radius: 40px;
    padding: 25px;
    width: 25%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
.advantages__highlight {
    font-size: 100px;
    color: crimson;
}

@media screen and (max-width: 1024px) {
    .about__photo {
        width: 45%;
    }

    .about__title {
        width: 45%;
        padding: 0;
    }

    .advantages__item {
        width: 40%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .about__main_info {
        margin-top: 200px;
    }

    .about__photo {
        width: 65%;
    }

    .about__title {
        width: 90%;
        margin-top: 20px;
    }

    .about__subtitle {
        padding: 20px 0;
    }

    .about__advantages {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .advantages__item {
        margin-top: 50px;
        width: 60%;
    }

    .advantages__highlight {
        font-size: 70px;
    }
}

@media screen and (max-width: 425px) {
    .about__photo {
        width: 80%;
    }

    .advantages__item {
        width: 80%;
    }
}
