.header {
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 87%,
        rgba(252, 176, 69, 1) 100%
    );
    position: fixed;
    top: 0;
    z-index: 5;
}

.hearer__container {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__logo {
    margin: 20px;
    color: #000;
    background-color: rgb(248, 245, 238);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s;
    transition: margin 0.2s;
    transition: padding 0.2s;
    font-size: 24px;
    text-decoration: none;
}

.header__logo_small {
    margin: 10px;
    color: #000;
    background-color: rgb(248, 245, 238);
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s;
    transition: margin 0.2s;
    transition: padding 0.2s;
    font-size: 24px;
    text-decoration: none;
}

/* .logo {
    width: 180px;
    height: 80px;
    background-color: rgb(248, 245, 238);
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s;
} */

.menu__item {
    font-size: 24px;
    padding: 10px 25px;
    margin: 0 20px;
    color: #000;
    background-color: rgb(248, 245, 238);
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s;
}

.menu__item:hover,
.header__logo:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}
